---
import Layout from "../layouts/Layout.astro";
import HeroCard from "../components/HeroCard.astro";
---

<Layout title="Allen's lame portfolio site">
  <main class="max-h-screen bg-zinc-800">
    <section class="min-h-screen max-w-2xl mx-auto p-10">
      <HeroCard />
    </section>
  </main>
</Layout>
